USE [shuihu]
GO
/****** Object:  Table [dbo].[A1]    Script Date: 2016/11/13 11:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[A1](
	[ID] [int] NOT NULL,
	[PID] [int] NOT NULL,
	[COLLECTIP] [nchar](16) NOT NULL,
	[SOCKETID] [int] NOT NULL,
	[MAC] [varchar](50) NOT NULL,
	[VOLTAGE] [numeric](7, 4) NOT NULL,
	[CURRENT] [numeric](5, 4) NOT NULL,
	[ACTIVEPOWER] [float] NOT NULL,
	[REACTIVEPOWER] [float] NOT NULL,
	[ACTIVEENERGY] [numeric](3, 2) NOT NULL,
	[MESSAGECOUNT] [bigint] NOT NULL,
	[YEAR] [varchar](16) NOT NULL,
	[MONTH] [varchar](16) NOT NULL,
	[DAY] [varchar](16) NOT NULL,
	[HOUR] [varchar](16) NOT NULL,
	[MINUTE] [varchar](16) NOT NULL,
	[SECOND] [varchar](16) NOT NULL,
	[WEEK] [varchar](16) NOT NULL,
	[COLLECTTIME] [datetime] NOT NULL,
	[DBTIME] [datetime] NOT NULL,
	[SOCKETSTATE] [varchar](16) NOT NULL,
	[processTime] [datetime] NOT NULL CONSTRAINT [DF_A1_processTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_A1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
