USE [shuihu]
GO
/****** Object:  Table [dbo].[B1]    Script Date: 2016/11/13 11:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[B1](
	[ID] [int] NOT NULL,
	[PID] [int] NOT NULL,
	[COLLECTIP] [nchar](16) NOT NULL,
	[SOCKETID] [int] NOT NULL,
	[MAC] [varchar](50) NOT NULL,
	[TEMP] [int] NOT NULL,
	[HUMIDITY] [varchar](16) NOT NULL,
	[YEAR] [varchar](16) NOT NULL,
	[MONTH] [varchar](16) NOT NULL,
	[DAY] [varchar](16) NOT NULL,
	[HOUR] [varchar](16) NOT NULL,
	[MINUTE] [varchar](16) NOT NULL,
	[SECOND] [varchar](16) NOT NULL,
	[WEEK] [varchar](16) NOT NULL,
	[MESSAGECOUNT] [bigint] NOT NULL,
	[COLLECTTIME] [datetime] NOT NULL,
	[DBTIME] [datetime] NOT NULL,
	[processTime] [datetime] NOT NULL CONSTRAINT [DF_B1_processTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_B1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[B1] ([ID], [PID], [COLLECTIP], [SOCKETID], [MAC], [TEMP], [HUMIDITY], [YEAR], [MONTH], [DAY], [HOUR], [MINUTE], [SECOND], [WEEK], [MESSAGECOUNT], [COLLECTTIME], [DBTIME], [processTime]) VALUES (859675, 45248144, N'192.168.2.112   ', 7, N'25ACA7ADA3A7', 36, N'27', N'2016', N'11', N'13', N'10', N'41', N'23', N'7', 720, CAST(N'2016-11-13 10:41:22.000' AS DateTime), CAST(N'2016-11-13 10:42:35.763' AS DateTime), CAST(N'2016-11-13 10:42:36.517' AS DateTime))
INSERT [dbo].[B1] ([ID], [PID], [COLLECTIP], [SOCKETID], [MAC], [TEMP], [HUMIDITY], [YEAR], [MONTH], [DAY], [HOUR], [MINUTE], [SECOND], [WEEK], [MESSAGECOUNT], [COLLECTTIME], [DBTIME], [processTime]) VALUES (859676, 45248147, N'192.168.2.112   ', 6, N'25ACA7A8A7A1', 52, N'25', N'2016', N'11', N'13', N'10', N'41', N'24', N'7', 720, CAST(N'2016-11-13 10:41:22.000' AS DateTime), CAST(N'2016-11-13 10:42:35.763' AS DateTime), CAST(N'2016-11-13 10:42:36.517' AS DateTime))
INSERT [dbo].[B1] ([ID], [PID], [COLLECTIP], [SOCKETID], [MAC], [TEMP], [HUMIDITY], [YEAR], [MONTH], [DAY], [HOUR], [MINUTE], [SECOND], [WEEK], [MESSAGECOUNT], [COLLECTTIME], [DBTIME], [processTime]) VALUES (860824, 45249179, N'192.168.2.112   ', 1, N'25ACA7ADA4AF', 52, N'26', N'2016', N'11', N'13', N'10', N'42', N'28', N'7', 734, CAST(N'2016-11-13 10:42:27.000' AS DateTime), CAST(N'2016-11-13 10:43:50.890' AS DateTime), CAST(N'2016-11-13 10:43:51.947' AS DateTime))
GO
